#TOC {
    background-color: #F2F2F2;
    position: fixed;
    width: 16em;
    left: 0px;
    top: 0px;
    border-right: 1px solid #DDD;
    border-bottom: 0px none;
    z-index: 1000;
    padding: 1.25em 1em;
    height: 100%;
    overflow: auto;
}
#TOC ul {
    list-style-type: none;
    font-size: .9em;
}

body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    word-wrap: break-word;
    padding-left: 17em;
    padding-right: 0px;
}
a { background: transparent }
a:active,
a:hover { outline: 0 }
strong { font-weight: bold }
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
img { border: 0 }
hr {
    box-sizing: content-box;
    height: 0;
}
pre { overflow: auto }
code,
kbd,
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
input {
    color: inherit;
    font: inherit;
    margin: 0;
}
html input[disabled] { cursor: default }
input { line-height: normal }
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th { padding: 0 }
* { box-sizing: border-box }
input { font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol" }
a {
    color: #4183c4;
    text-decoration: none;
}
a:hover,
a:active { text-decoration: underline }
hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;
}
hr:before {
    display: table;
    content: "";
}
hr:after {
    display: table;
    clear: both;
    content: "";
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.1;
}
blockquote { margin: 0 }
ul,
ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
ol ol,
ul ol { list-style-type: lower-roman }
ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol { list-style-type: lower-alpha }
dd { margin-left: 0 }
code { font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace }
pre {
    margin-top: 0;
    margin-bottom: 0;
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
a:not(:link):not(:visited) {
    color: inherit;
    text-decoration: none;
}
.anchor {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding-right: 6px;
    padding-left: 30px;
    margin-left: -30px;
}
.anchor:focus { outline: none }
h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.4;
}
h1 .octicon-link,
h2 .octicon-link,
h3 .octicon-link,
h4 .octicon-link,
h5 .octicon-link,
h6 .octicon-link {
    display: none;
    color: #000;
    vertical-align: middle;
}
h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    padding-left: 8px;
    margin-left: -30px;
    text-decoration: none;
}
h1:hover .anchor .octicon-link,
h2:hover .anchor .octicon-link,
h3:hover .anchor .octicon-link,
h4:hover .anchor .octicon-link,
h5:hover .anchor .octicon-link,
h6:hover .anchor .octicon-link { display: inline-block }
h1 {
    padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}
h1 .anchor { line-height: 1 }
h2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}
h2 .anchor { line-height: 1 }
h3 {
    font-size: 1.5em;
    line-height: 1.43;
}
h3 .anchor { line-height: 1.2 }
h4 { font-size: 1.25em }
h4 .anchor { line-height: 1.2 }
h5 { font-size: 1em }
h5 .anchor { line-height: 1.1 }
h6 {
    font-size: 1em;
    color: #777;
}
h6 .anchor { line-height: 1.1 }
p,
blockquote,
ul,
ol,
dl,
table,
pre {
    margin-top: 0;
    margin-bottom: 16px;
}
hr {
    height: 4px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
}
ul,
ol { padding-left: 2em }
ul ul,
ul ol,
ol ol,
ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
li>p { margin-top: 16px }
dl { padding: 0 }
dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}
dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}
blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;
}
blockquote>:first-child { margin-top: 0 }
blockquote>:last-child { margin-bottom: 0 }
table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
}
table caption {
    display: none;
}
table th { font-weight: bold }
table th,
table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}
table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}
table tr:nth-child(2n) { background-color: #f8f8f8 }
img {
    max-width: 100%;
    box-sizing: border-box;
}
code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
}
code:before,
code:after {
    letter-spacing: -0.2em;
    content: "\00a0";
}
pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}
.highlight { margin-bottom: 16px }
.highlight pre,
pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
}
.highlight pre {
    margin-bottom: 0;
    word-break: normal;
}
pre { word-wrap: normal }
pre code {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}
pre code:before,
pre code:after { content: normal }
kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}
